@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --color-light-gray: #e6e6e6;
}

/* Scaling Container - Keeps everything proportional */
.scaling-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Screen Container (Scales based on Device) */
.screen {
  background: url(/bg.jpg) center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  transform-origin: top left;
  width: 100vw;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  max-width: calc(100vh * 16 / 9);
  font-size: calc(1vw + 1vh);
}

.HomeButton {
  width: 10%;
  max-width: 200px;
}

/* Mobile: 9:16 Scaling */
@media (max-width: 768px) {
  .screen {
    width: calc(100vh * 9 / 16);
    gap: 2%;
    height: 100vh; /* Maintain 16:9 */
    max-height: calc(100vw * 16 / 9);
    max-width: 100vw;
    font-size: calc(1vw + 1vh);
    background: url(/mobile-bg.jpg) center / cover no-repeat;
    padding: 1%;
  }

  .HomeButton {
    width: 20%;
  }
}
